# This section is maintained by: https://github.com/TUM-DSE/doctor-cluster-config/tree/master/modules/jumphost

AuthorizedKeysFile %h/.ssh/authorized_keys %h/.ssh/authorized_keys2 /etc/ssh/authorized_keys.d/%u

# see https://github.com/TUM-DSE/doctor-cluster-config/blob/master/modules/sshd/certs/login-cert.pub
HostCertificate /etc/ssh/login-cert.pub

Match User tunnel
  AllowTcpForwarding yes
  X11Forwarding no
  AllowAgentForwarding no
  PermitTunnel no
  PermitTTY no
  PasswordAuthentication no

Match User deploy
  ForceCommand sudo /usr/local/bin/update-tunnel-keys
  PasswordAuthentication no
  PermitTunnel no
  AllowAgentForwarding no
  AllowTcpForwarding no
  X11Forwarding no

