use nix

# Terraform's lock files break when nix bumps it's dependencies
rm -Rf .terraform*

password=$(sops -d --output-type dotenv --extract '["GITLAB_TOKEN"]' ./secrets.enc.json)
terraform init -backend-config="password=${password}"

if [[ -f .envrc.local ]]; then
    source .envrc.local
else
    echo "copy .envrc.local-template  to .envrc.local and follow the instructions in this file"
fi
